<section class="orange">
  <%#= render @search.jobs %>
  <%= render 'shared/search' %>
</section>


<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="blog-posts">
          <% @jobs.each do |job| %>
          <article>
            <div class="row">
              <div class="col-md-5">
                <div class="post-image">
                  <div class="flexslider" data-plugin-options='{"directionNav":true}'>
                    <ul class="slides">
                      <li>
                        <%= link_to(image_tag job.logo.url(:medium) )%>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-md-7">
                <div class="post-content">
                  <h2><%= link_to job.title, job %></h2>
                  <div class="post-meta">
                    <span> Posted on <i class="fa fa-calendar"></i>
                      <%= job.created_at.strftime("%B %d, %Y") %> 
                    </span>
                    <span>Closes on <i class="fa fa-calendar"></i>
                      <%= job.closes_on.strftime("%B %d, %Y") %> 
                    </span><br>
                    <span><i class="fa fa-tag"></i>
                      <%= link_to JobCategory.find(job.job_category_id).name, job_category_path(job.job_category_id) %>
                    </span>
                    <!-- to connect applicants count -->
                    <span><i class="fa fa-file"></i>
                      <a href="#"><%= job.get_upvotes.size %> Applicants </a>
                    </span>
                  </div>
                  <p>
                    <%= truncate(job.details.html_safe, :length => 228, separator: ' ', :escape => false) %>
                  </p>

                  <%= link_to 'Apply Now', job, class: "btn btn-md btn-teal pull-left" %>
                  <%= link_to 'Read More ...', job, class: "btn btn-md btn-default pull-left m-left" %>
                </div>
              </div>
            </div>
          </article>
          <% end %>
        </div>
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails, :previous_label => '«', :next_label => '»' %>
      </div>
    
    
      <div class="col-md-3">
        <%= render 'popularity' %>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</section>













<p id="notice"><%= notice %></p>


<%= link_to 'New Job', new_job_path %>


<script>
   $('#myTab a').click(function (e) {
     e.preventDefault()
     $(this).tab('show')
   })
</script>