<h1>New Job</h1>
<%= render 'employerdash/navbar' %>
<div class="main-content">
    <div class="col-lg-6">
        <% @jobs.each do |job| %>
            <%= image_tag job.logo.url(:thumb)%>
            <%= job.title %>
            <br>
            <hr>
        <% end %>
        <%= link_to 'Back', jobs_path %>
    </div>
    <div class="col-lg-6">
        <%= render 'form', job: @job %>
    </div>
    
</div>
