
    <!-- start: REVOLUTION SLIDERS -->
    <section class="fullwidthbanner-container">
      <div class="fullwidthabnner">
        <ul>
          <!-- start: FIRST SLIDE -->
          <li data-masterspeed="1500" data-slotamount="7" data-transition="fade">
          	<%= image_tag("sliders/slidebg1.png") %>
            <img alt="sliders/slidebg1" data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat=
            "no-repeat" src="assets/sliders/slidebg1.png" style=
            "background-color:rgb(246, 246, 246)">
            <div class="caption lft slide_title slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="1500" data-x="0" data-y="105">
              After graduation don't tarmac
            </div>
            <div class="caption lft slide_subtitle slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2000" data-x="0" data-y="180">
              Look no further but Musimba Job Portal
            </div>
            <div class="caption lft slide_desc slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2500" data-x="0" data-y="220">
              Where all graduates are welcomed wholeheartedly<br>
              to begin their next face of life.
            </div>
            <div class="caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="1000"
            data-x="720" data-y="55"><img alt="Image 1" src="assets/graduate.png"></div>
          </li><!-- end: FIRST SLIDE -->

          <!-- start: SECOND SLIDE -->
          <li data-masterspeed="1500" data-slotamount="7" data-transition="fade">
            <%= image_tag("slidebg2s/slidebg2.png") %>
            <img alt="slidebg1" data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat=
            "no-repeat" src="assets/sliders/slidebg2.png" style=
            "background-color:rgb(246, 246, 246)">
            <div class="caption lft slide_title slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="1500" data-x="0" data-y="105">
              Looking For Greener Pastures
            </div>
            <div class="caption lfl slide_subtitle slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2000" data-x="0" data-y="180">
              Look no further but Musimba Job Portal
            </div>
            <div class="caption lfr slide_desc slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2500" data-x="0" data-y="220">
              Where all kind of Job and Professionalism<br>
              with vacancy are.
            </div>
            <div class="caption lft" data-easing="easeOutBack" data-speed="500" data-start="1000"
            data-x="680" data-y="85"><img alt="Image 1" src="assets/engineer.png"></div>
          </li><!-- end: SECOND SLIDE -->

          <!-- start: THIRD SLIDE -->
          <li data-masterspeed="1500" data-slotamount="7" data-transition="fade">
            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
            <%= image_tag("sliders/slidebg3.png") %>
            <img alt="slidebg1" data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat=
            "no-repeat" src="assets/sliders/slidebg3.png" style=
            "background-color:rgb(246, 246, 246)">
            <div class="caption lft slide_title slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="1500" data-x="0" data-y="105">
              Thinking of adding an extra hand
            </div>
            <div class="caption sft slide_subtitle slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2000" data-x="0" data-y="180">
              Look no further but Musimba Job Portal
            </div>
            <div class="caption sfr slide_desc slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2500" data-x="0" data-y="220">
              Where both Proffesion and errand<br>
              personel.
            </div>
            <div class="caption sfr" data-easing="easeOutBack" data-speed="500" data-start="1000"
            data-x="800" data-y="115"><img alt="Image 1" src="assets/boss.png"></div>
          </li><!-- end: THIRD SLIDE -->
        </ul>
      </div>
    </section><!-- end: REVOLUTION SLIDERS -->


    <!-- start: MAIN CONTAINER -->
  <div class="main-container">
    <!-- start: REVOLUTION SLIDERS -->
    <section class="fullwidthbanner-container">
      <div class="fullwidthabnner">
        <ul>
          <!-- start: FIRST SLIDE -->
          <li data-masterspeed="1500" data-slotamount="7" data-transition="fade">
            <img alt="slidebg1" data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat=
            "no-repeat" src="assets/sliders/slidebg1.png" style=
            "background-color:rgb(246, 246, 246)">
            <div class="caption lft slide_title slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="1500" data-x="0" data-y="105">
              After graduation don't tarmac
            </div>
            <div class="caption lft slide_subtitle slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2000" data-x="0" data-y="180">
              Look no further but Musimba Job Portal
            </div>
            <div class="caption lft slide_desc slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2500" data-x="0" data-y="220">
              Where all graduates are welcomed wholeheartedly<br>
              to begin their next face of life.
            </div>
            <div class="caption sfr" data-easing="easeOutExpo" data-speed="700" data-start="1000"
            data-x="720" data-y="55"><img alt="Image 1" src="assets/graduate.png"></div>
          </li><!-- end: FIRST SLIDE -->

          <!-- start: SECOND SLIDE -->
          <li data-masterspeed="1500" data-slotamount="7" data-transition="fade">
            <img alt="slidebg1" data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat=
            "no-repeat" src="assets/sliders/slidebg2.png" style=
            "background-color:rgb(246, 246, 246)">
            <div class="caption lft slide_title slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="1500" data-x="0" data-y="105">
              Looking For Greener Pastures
            </div>
            <div class="caption lfl slide_subtitle slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2000" data-x="0" data-y="180">
              Look no further but Musimba Job Portal
            </div>
            <div class="caption lfr slide_desc slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2500" data-x="0" data-y="220">
              Where all kind of Job and Professionalism<br>
              with vacancy are.
            </div>
            <div class="caption lft" data-easing="easeOutBack" data-speed="500" data-start="1000"
            data-x="680" data-y="85"><img alt="Image 1" src="assets/engineer.png"></div>
          </li><!-- end: SECOND SLIDE -->

          <!-- start: THIRD SLIDE -->
          <li data-masterspeed="1500" data-slotamount="7" data-transition="fade">
            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
            <img alt="slidebg1" data-bgfit="cover" data-bgposition="left bottom" data-bgrepeat=
            "no-repeat" src="assets/sliders/slidebg3.png" style=
            "background-color:rgb(246, 246, 246)">
            <div class="caption lft slide_title slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="1500" data-x="0" data-y="105">
              Thinking of adding an extra hand
            </div>
            <div class="caption sft slide_subtitle slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2000" data-x="0" data-y="180">
              Look no further but Musimba Job Portal
            </div>
            <div class="caption sfr slide_desc slide_item_left" data-easing="easeOutExpo"
            data-speed="400" data-start="2500" data-x="0" data-y="220">
              Where both Proffesion and errand<br>
              personel.
            </div>
            <div class="caption sfr" data-easing="easeOutBack" data-speed="500" data-start="1000"
            data-x="800" data-y="115"><img alt="Image 1" src="assets/boss.png"></div>
          </li><!-- end: THIRD SLIDE -->
        </ul>
      </div>
    </section><!-- end: REVOLUTION SLIDERS -->



    
    <section class="orange">
    <%#= render @search.jobs %>
    <%= render 'shared/search' %>
    </section>

    <section class="wrapper padding50">
      <!-- start: CLIENTS CONTAINER -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="center">Top Kenya's Employers that we have Partnered With.</h2>
            <h4 class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</h4>
          </div>
          <div class="flexslider col-md-12 animate-group" data-animation-interval="100"
          data-plugin-options='{"directionNav":false, "animation":"slide", "slideshow": false}'>
            <ul class="slides">
              <li>
                <div class="col-md-3 col-sm-3 col-xs-6"><img alt="" class="img-responsive animate"
                data-animation-options='{"animation":"fadeIn", "duration":"300"}' src=
                "assets/logo-1.png"></div>
                <div class="col-md-3 col-sm-3 col-xs-6"><img alt="" class="img-responsive animate"
                data-animation-options='{"animation":"fadeIn", "duration":"300"}' src=
                "assets/logo-2.png"></div>
                <div class="col-md-3 col-sm-3 col-xs-6"><img alt="" class="img-responsive animate"
                data-animation-options='{"animation":"fadeIn", "duration":"300"}' src=
                "assets/logo-3.png"></div>
                <div class="col-md-3 col-sm-3 col-xs-6"><img alt="" class="img-responsive animate"
                data-animation-options='{"animation":"fadeIn", "duration":"300"}' src=
                "assets/logo-4.png"></div>
              </li>
              <li>
                <div class="col-md-3 col-sm-3 col-xs-6"><img alt="" class="img-responsive" src=
                "assets/logo-5.png"></div>
                <div class="col-md-3 col-sm-3 col-xs-6"><img alt="" class="img-responsive" src=
                "assets/logo-6.png"></div>
                <div class="col-md-3 col-sm-3 col-xs-6"><img alt="" class="img-responsive animate"
                data-animation-options='{"animation":"fadeIn", "duration":"300"}' src=
                "assets/logo-7.png"></div>
                <div class="col-md-3 col-sm-3 col-xs-6"><img alt="" class="img-responsive animate"
                data-animation-options='{"animation":"fadeIn", "duration":"300"}' src=
                "assets/logo-8.png"></div>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- end: CLIENTS CONTAINER -->
    </section><!--  -->
    <section class="wrapper wrapper-grey padding50">
      <!-- start: CORE BOXES CONTAINER -->
      <div class="container">
        <div class="row">
          <h1 class="center"><strong>Browse Job by Category</strong></h1>
          <hr>

          <% if @job_categories.any? %>
          <% @job_categories.each do |job_category| %>
          <div class="col-md-4">
            <div class="panel-group accordion-custom accordion-teal" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                  <%= link_to job_category, :class => "accordion-toggle collapsed" do %>
                    <%= job_category.name %>
                    <span><%= job_category.jobs.count %></span>
                  <% end %> 
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>

        </div>
      </div><!-- end: CORE BOXES CONTAINER -->
    </section>
  </div><!-- end: MAIN CONTAINER -->
